body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f2f5fa;
}

.custom_container {
  max-width: 1600px;
  margin: 0 auto;
}

/* omen bar */
.omne_bar {
  position: fixed;
  top: 0;
  background-color: #2a3643;
  width: 100%;
  margin: 0 auto;
  z-index: 99;
}
.omne_bar .custom_container {
  display: flex;
  align-items: center;
  height: 60px;
  max-height: 60px;
  max-width: 100%;
}
.omne_bar .logo_wrap {
  padding: 1rem 2rem;
}
.omne_bar .logo_wrap img {
  max-width: 30%;
}
.box_menu {
  padding: 2rem;
  background-color: #000000;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.menu_items ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.menu_items li {
  padding: 0 1.2rem;
}
.notification_bell a {
  position: relative;
}
.notification_bell a span {
  color: #fff;
  position: absolute;
  background-color: #d0021b;
  font-size: 10px;
  padding: 2px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 10px;
  left: 9px;
}
.notification_wrap {
  position: absolute;
  top: 40px;
  left: -4px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 14px 6px rgb(0 0 0 / 24%);
  background-color: #fff;
  display: none;
}
.notification_wrap.active {
  display: block;
}
.notification_wrap::before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 10px 7px 0;
  border-color: transparent #ffffff transparent transparent;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  transform: rotate(90deg);
  position: absolute;
  top: -12px;
  left: 30px;
}
.notification_wrap h4 {
  padding: 1rem;
  border-bottom: 1px solid #e7e7e7;
  margin: 0;
}
.notification_wrap ul {
  display: block;
  padding: 1rem;
}
.notification_wrap ul li {
  padding: 0 0 0.5rem;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 0.5rem;
}
.notification_wrap ul li:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.org_select {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
  cursor: pointer;
}
.org_select.user_det {
  width: 200px;
}
.user_det .org_flag img{
  max-width: 40px;
}
.org_flag img {
  max-width: 30px;
}
.org_name h5 {
  color: #ffffff;
}
.more_opt .org_dropdown {
  right: 20px;
}
.org_dropdown {
  border-radius: 8px;
  box-shadow: 0 0 14px 6px rgb(0 0 0 / 24%);
  background-color: #fff;
  position: absolute;
  top: 90%;
  width: 180px;
  padding: 0.5rem;
  display: none;
}
.org_dropdown.active{
  display: block;
}
.org_dropdown ul {
  display: block;
}
.org_dropdown ul li {
  display: flex;
  padding: 0.5rem;
  align-items: baseline;
}
.org_dropdown .org_flag {
  padding-right: 1rem;
}
/* omen bar */

/* left side menu bar */
.leftSideBar {
  height: 100%;
  position: fixed;
  left: 0;
  top: 60px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.18);
  background-color: #2a3643;
  transition: all 0.5s;
  z-index: 9;
  width: 5.5%;
}
.leftSideBar.active {
  width: 15%;
}
.sideNavItems ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sideNavItems li a {
  display: inline-block;
  letter-spacing: 0.3px;
  color: #ffffff;
  width: 100% !important;
  margin-bottom: 1.5rem;
  padding: 1.5rem !important;
  text-align: center !important;
}
.sideNavItems li a.active {
  background-color: #8da2b9;
  border-radius: 8px;
  color: #ffffff;
}
.leftSideBar.active li a {
  padding-right: 0 !important;
  text-align: left !important;
}
.sideNavItems li a > span:first-child {
  padding-right: 0 !important;
}
.leftSideBar.active li a > span:first-child {
  padding-right: 1rem !important;
}
.sideNavItems li a:hover {
  text-decoration: none;
  color: #555555;
}
.sideNavItems li a.active:hover {
  text-decoration: none;
  color: #ffffff;
}
.leftSideBar li a .text_hid {
  opacity: 0;
  position: absolute;
}
.leftSideBar.active li a .text_hid {
  animation: showtext 0s 0.5s forwards;
}
.side_menu {
  padding: 1rem 1.5rem;
  text-align: center;
  cursor: pointer;
}
.leftSideBar.active .side_menu {
  text-align: left;
}
@keyframes showtext {
  to {
    opacity: 1;
  }
}
/* left side menu bar */

/* app_grid */
.app_grid {
  position: absolute;
  width: 30vw;
  height: calc(100vh - 60px);
  top: 60px;
  box-shadow: 0 0 14px 6px rgb(0 0 0 / 30%);
  background-color: #fff;
  left: 0;
  min-width: 500px;
  display: none;
}
.app_grid.active {
  display: block;
}
.app_grid::before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #ffffff transparent transparent;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  transform: rotate(90deg);
  position: absolute;
  top: -17px;
  left: 30px;
}
.app_grid > h4 {
  padding: 1rem;
  border-bottom: 1px solid #56a9ff;
  color: #377dcf;
}
.app_grid .nav-item button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #9b9b9b;
}
.app_grid .nav-item button.active {
  color: #377dcf;
  background-color: transparent !important;
  border-bottom: 2px solid #377dcf;
  border-radius: 0;
}
.app_grid_wrap {
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px #56a9ff;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.app_grid_wrap:hover {
  box-shadow: 0 2px 16px 2px rgb(86 169 255 / 50%);
}
.app_grid_wrap h5 {
  color: #377dcf;
}
.app_grid_wrap img {
  height: 115px;
  max-width: 100%;
}

/* main wrap */
.main_wrapper {
  margin-top: 130px;
  margin-left: 6.5%;
  width: calc(100% - 7.5%);
}
.inner_status_bar {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #bfdfff;
  border-radius: 4px;
  padding-left: 1rem;
}
.inner_status_bar .grey_box {
  border-left: 1px solid #bfdfff;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0 4px 4px 0;
  width: 55px;
  text-align: center;
}
.services_wrap,
.analysis_wrap {
  border-radius: 4px;
  box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.24);
  background-color: #fff;
}
.services_wrap_head,
.analysis_wrap_head {
  padding: 1rem;
  border-bottom: 1px solid #377dcf;
  display: flex;
  align-items: center;
}
.services_wrap_head a,
.analysis_wrap_head a {
  text-decoration: none;
}
.services_wrap_body,
.analysis_wrap_body {
  padding: 1rem;
}
.services_wrap_body {
  height: 240px;
  overflow-y: hidden;
}
.services_wrap_body.expand {
  height: auto !important;
}
.services_box img {
  width: 100%;
}
.services_box {
  padding: 1rem;
  border: 1px solid #56a9ff;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}

.analysis_wrap_body h5 {
  color: #377dcf;
}
.border_right_black {
  border-right: 1px solid #979797;
}
.analysis_wrap_body img {
  max-width: 100%;
}
@media (min-width: 1600px) {
  .main_wrapper {
    margin: 130px auto 50px !important;
  }
}

/* redo_check_status */
.redo_check_status {
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
}
.rcs_head {
  display: flex;
  align-items: center;
}
.switch-field input[type="radio"] {
  display: none;
}
.switch-field {
  display: inline-flex;
}
.switch-field label {
  margin: 0;
  padding: 0.5rem;
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
  cursor: pointer;
}
.switch-field label:first-of-type {
  border-right: 0;
  border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
  border-left: 0;
  border-radius: 0 4px 4px 0;
}
.switch-field input:checked + label {
  background-color: #56a9ff;
  color: #ffffff;
}
.rcs_search {
  border-radius: 4px;
  border: solid 1px #e7e7e7;
  width: 40%;
}
.rcs_search > input {
  border: none;
  padding: 0.75rem 1rem;
  width: 85%;
  border-radius: 4px;
  outline: none;
  color: #4a4a4a;
}
.rcs_search input::placeholder {
  color: #9b9b9b;
}
.rcs_search > span {
  margin-left: 1rem;
  cursor: pointer;
}
.advance_search_wrap {
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 2px 14px 0 rgb(0 0 0 / 50%);
  background-color: #fff;
  width: 700px;
  left: -40px;
  display: none;
}
.advance_search_wrap.active{
  display: block;
}

/* table */
.table_wrap > .custom_tr:nth-child(odd) {
  background-color: #f2f9ff;
}
.table_wrap .custom_tr:nth-child(2) .custom_th {
  padding: 0.8rem;
  border: none;
}
.tableTop .custom_th {
  color: #56a9ff;
}
.custom_tag {
  background-color: #ffffff;
  color: #4a4a4a;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 10px;
  border: 0.5px solid #e7e7e7;
  text-transform: capitalize;
  letter-spacing: 0.4px;
}
.custom_tag img {
  height: 10px;
}
.custom_tr {
  border-top: 1px solid #e7e7e7;
  margin: 0;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
.custom_tr .accordion-heading {
  width: 100%;
}
.custom_tr .accordion-heading .accordion-toggle {
  position: relative;
}
.custom_tr .accordion-heading .accordion-toggle .custom_td:first-child {
  color: #56a9ff;
  font-size: 14px;
  letter-spacing: 0.4px;
  padding-left: 4px;
}
.custom_tr .accordion-heading .accordion-toggle .custom_td:first-child span {
  color: #4a4a4a;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.accordion-toggle.custom_tr {
  background-color: #e7f2ff !important;
  display: block;
}
.accordion-toggle.custom_tr.collapsed {
  background-color: #ffffff !important;
  display: block;
}
.accordion-group .accordion-body {
  width: 100%;
}
.custom_tr.active .table_actions span svg path {
  fill: #56a9ff !important;
}
.custom_tr.active .table_actions span svg {
  transform: rotate(180deg);
}
.custom_th {
  font-size: 12px;
  color: #56a9ff;
  font-weight: 600;
  /* border-right: 1px solid #e7e7e7; */
  padding: 4px 2px;
  text-transform: uppercase;
}
.eye_icon {
  position: absolute;
  right: 7.5%;
  top: 50%;
  transform: translate(0, -50%);
}
.custom_td {
  font-size: 12px;
  font-weight: 500;
  color: #565656;
  padding: 8px;
}
.w_custom_60 {
  width: 60% !important;
}
.w_custom_20 {
  width: 20% !important;
}
.w_custom_14 {
  width: 14% !important;
}
.w_custom_17 {
  width: 17% !important;
}
.w_custom_15 {
  width: 15% !important;
}
.w_custom_12 {
  width: 12% !important;
}
.w_custom_11 {
  width: 11% !important;
}
.w_custom_9 {
  width: 9% !important;
}
.w_custom_10 {
  width: 10% !important;
}
.w_custom_8 {
  width: 8% !important;
}
.w_custom_6 {
  width: 6% !important;
}
.w_custom_5 {
  width: 5% !important;
}
.w_custom_2 {
  width: 2% !important;
}
.row_innerBody {
  border-bottom: 1px solid #56a9ff;
}
.row_innerBody .custom_td {
  padding: 6px 4px;
  font-size: 11px;
}
.row_innerBody .custom_tr {
  background-color: #f2f9ff !important;
}
.row_innerBody:nth-child(even) .custom_tr {
  background-color: #ffffff !important;
}
.row_innerBody .custom_td > span {
  color: #9b9b9b;
}
.action_tag {
  background-color: #13b600;
  color: #bee8ba !important;
  padding: 2px 6px;
  border-radius: 4px;
  margin-bottom: 4px;
  display: inline-block;
  font-weight: 400;
}
.action_tag.not_initiated {
  background-color: #9b9b9b;
  color: #ffffff !important;
}
.rcs_body .custom_th {
  border-right: none;
}
.table_wrap > .custom_tr:nth-child(1) {
  border-top: 1px solid #56a9ff;
  border-bottom: 1px solid #56a9ff;
}
.service_wrap {
  position: absolute;
  right: 0;
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 14px 0 rgb(0 0 0 / 50%);
  background-color: #fff;
  padding: 1rem;
  display: none;
}
.service_wrap.active{
  display: block;
}
.service_wrap_head {
  display: flex;
  align-items: center;
  background-color: #56a9ff;
  padding: 0.4rem;
  border-radius: 4px;
}
.service_wrap_head h5:first-child {
  width: 60%;
}
.service_wrap_head h5:last-child {
  width: 40%;
}
.service_wrap_head h5 {
  margin: 0;
  text-align: left;
  color: #ffffff;
  padding-left: 0.6rem;
}
.service_wrap_body_row {
  display: flex;
  align-items: center;
}
.service_wrap_body_row p {
  width: 60%;
  text-align: left;
  padding-left: 1rem;
}
.service_wrap_body_row h5 {
  width: 40%;
  text-align: left;
  padding-left: 0;
}
.service_wrap_body_row h5 .signed {
  color: #13b600;
}
.service_wrap_body_row h5 .pending_3 {
  color: #ff6500;
}
.service_wrap_body_row h5 .in_progress {
  color: #56a9ff;
}
.service_wrap_body_row h5 .approved_3 {
  color: #13b600;
}
.service_wrap_body_row h5 .reject_3 {
  color: #d0021b;
}
.service_wrap_body_row h5 .not_due {
  color: #56a9ff;
}
.service_wrap_body_row h5 .not_applicable {
  color: #9b9b9b;
}
.banner_carousel {
  border-radius: 4px;
  box-shadow: 0 0 14px 6px rgb(0 0 0 / 30%);
  background-color: #f6faff;
  margin-bottom: 1.5rem;
}
.banner h3 {
  color: #2069c1;
  font-size: 30px;
  font-weight: 500;
  margin: 2rem;
}
.banner button {
  margin: 0 2rem 2rem;
}
.bg_banner {
  background-image: url(../images/ic_bgimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  padding: 1rem;
}
.bg_banner img {
  max-width: 100%;
  height: 100%;
}
.banner_carousel .carousel-indicators li {
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
  background-color: transparent !important;
  border: 1px solid #979797 !important;
  cursor: pointer;
}
.banner_carousel .carousel-indicators .active {
  border: 1px solid #0050ae !important;
  background-color: #4a90e2 !important;
}
